body {
    overflow-x: hidden;
    overflow-y: scroll;
    background-image: url(./img/wallpaperbetter.com_1920x1080.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* background: red; */
}
.black {
    position: absolute;
    z-index: 9000;
    opacity: 1;
    background: #000;
    width: 2000px;
    height: 1000px;
    left: 0;
    top: -100px;
    transition: 1s;
}
.header {
    display: flex;
    flex-direction: column;
}
.header__title {
    text-align: center;
    font-size: 50px;
    font-family: Arial;
    color: white;
    -webkit-text-stroke: 2.5px #000;
    font-weight: 900;
}
.header__optional {
    display: flex;
    gap: 50px;
    margin-top: 20px;
}
.download {
    font-size: 24px;
    padding: 20px;
    border-radius: 20px;
    cursor: pointer;
    /* background: #112b12; */
    background: #c5a61bd0;
    color: white;
    margin-left: 20px;
}
.open {
    font-size: 24px;
    padding: 20px;
    border-radius: 20px;
    cursor: pointer;
    background: #c5a61bd0;
    color: white;
}
.open-in-text-document {
    font-size: 24px;
    padding: 20px;
    border-radius: 20px;
    cursor: pointer;
    background: #c5a61bd0;
    color: white;
}
.download:hover, .open:hover, .open-in-text-document:hover {
    /* background: #0d402d; */
    background: #e4bb05;
    box-shadow: 0 0 20px rgb(255, 106, 0);
    border: 2px solid rgb(255, 106, 0);
}
.main {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-top: 50px;
}
.task {
    border: 1px solid #ffffff;
    color: rgb(225, 184, 4);
    padding: 12px;
    background: inherit;
    background-size: cover;
    backdrop-filter: blur(10px);
    border-radius: 15px;
    font-weight: 900;
    font-size: 24px;
    margin: 0 20px 0 20px;
    /* -webkit-text-stroke: 0.05px rgb(255, 255, 255); */
}
/* Цвет полосы прокрутки */
::-webkit-scrollbar {
    width: 8px; /* Ширина полосы прокрутки */
}
/* Фоновый цвет трека (фона полосы прокрутки) */
::-webkit-scrollbar-track {
    background-image: url(./img/wallpaperbetter.com_1920x1080.jpg);
}
/* Цвет и стиль ползунка (перемещаемой части полосы прокрутки) */
::-webkit-scrollbar-thumb {
    background-color: #e4bb05; /* Цвет ползунка */
    border-radius: 6px; /* Скругление углов ползунка */
}
/* Стиль ползунка при наведении */
::-webkit-scrollbar-thumb:hover {
    background-color: #9f830a; /* Новый цвет ползунка при наведении */
}