*{ 
    padding: 0; 
    margin: 0; 
    border: 0; 
    text-decoration: none; 
} 
    
:focus,:active{outline: none;} 
a:focus,a:active{outline: none;} 

nav,footer,header,aside{display: block;} 

:root{ 
--boss: rgb(160, 160, 160); 
--colors: rgb(210, 198, 198); 
}  

input,button,textarea{font-family:inherit;} 

input::-ms-clear{display: none;} 
button{cursor: pointer;} 
button::-moz-focus-inner {padding:0;border:0;} 
a, a:visited{text-decoration: none;} 
a:hover{text-decoration: none;} 
ul li{list-style: none;}
ol li{list-style: none;}  
img{vertical-align: top;} 

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;} 

html{ 
scroll-behavior: smooth; 
overflow: hidden;
}
body {
    background-image: url(./img/1647941800_3-abrakadabra-fun-p-paporotnik-na-chernom-fone-3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    transition: 1s;
}
.blackWindow {
    position: absolute;
    z-index: 9000;
    opacity: 1;
    background: #000;
    width: 2000px;
    height: 1000px;
    left: 0;
    top: -100px;
    transition: 1s;
}
/* .next {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 3000;
    align-items: center;
    top: 40%;
} */
.left__img {
    /* position: relative; */
    position: fixed;
    width: 50px;
    left: 0;
    top: 50%;
    z-index: 1000;
    /* left: -70px; */
    cursor: pointer;
}
.right__img {
    /* position: relative; */
    position: fixed;
    width: 50px;
    top: 50%;
    transform: rotate(180deg);
    /* right: -40px; */
    right: 0;
    z-index: 10000000000;
    cursor: pointer;
}
.header {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    /* position: absolute; */
    justify-content: space-between;
    /* border: 1px solid #ffffff; */
    padding: 20px 0 10px 0;
}
.header__menu {
    width: 50px;
    cursor: pointer;
    position: relative;
    z-index: 100;
    transition: 1s;
    border-radius: 50%;
}
/* .header__menu:hover {
    transform: scale(1.2);
} */
.header__menu.rotate {
    transform: rotate(360deg);
    background: transparent;
}
/* .all__menu {
    position: relative;
    z-index: 100;
    cursor: pointer;
} */
.menu__box {
    position: absolute;
    /* border: 1px solid #fafafa; */
    width: 100%;
    height: 90vh;
    top: 850px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #000;
    z-index: 100;
    border-radius: 150px;
    transition: 0.5s;
    /* display: none; */
}
.menu__box.top {
    position: absolute;
    top: 35px;
}
.woter {
    position: absolute;
    z-index: -1;
    width: 1500px;
    height: 100%;
    /* translate: -50% -50%; */
    left: -150px;
    animation: woter 2s linear infinite;
    transform: scale(2);
    /* border: 1px solid #ff0000; */
}
@keyframes woter {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(2);
    }
}
.window {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    /* display: none; */
}
.box__window {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    position: relative;
    width: 370px;
    height: 500px;
    padding: 7px;
    z-index: 2;
    overflow: hidden;
}
.box__window::after {
    content: '';
    position: absolute;
    height: 1000px;
    width: 1000px;
    background: conic-gradient(
        red,
        rgb(255, 102, 0),
        rgb(255, 187, 0),
        rgb(255, 238, 0),
        rgb(189, 0, 0),
        rgb(255, 175, 63),
        rgb(160, 155, 0),
        rgb(255, 91, 91),
        rgb(223, 55, 9),
        rgb(245, 90, 48),
        rgb(96, 19, 19),
        rgb(165, 44, 38),
        rgb(165, 93, 38),
        rgb(255, 113, 106),
        rgb(215, 126, 0),
        rgb(255, 251, 22),
        rgb(255, 252, 73),
        rgb(255, 88, 22),
        rgb(255, 76, 22),
        rgb(255, 22, 22)
    );
    /* background-image: conic-gradient(red, rgb(101, 126, 194), orange); */
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 5px;
    border-radius: 20px;
    animation: spin 7s linear infinite;
    transition: 1s;
}
/* .box__window::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 5px;
    border-radius: 20px;
    animation: spin 4s linear infinite;
    filter: blur(1.5rem);
} */
@keyframes spin {
    0% {
        transform: rotate(0deg);
       /*  --angle: 0deg; */
    }
    100% {
        transform: rotate(360deg);
       /*  --angle: 360deg; */
    }
}
/* @property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
} */
/* .box__window1 {
    position: absolute;
    left: -500px;
    top: 0px;
    width: 100%;
    height: 5px;
    background: orange;
    box-shadow: 0 5px 5px white;
    animation: rotate 3s linear infinite, neon 0.1s step-end infinite;
}
@keyframes rotate {
    0% {
    }
    100% {
        left: 1000px;
    }
}
.box__window2 {
    position: absolute;
    right: 0px;
    top: -500px;
    height: 100%;
    width: 5px;
    background: orange;
    box-shadow: 0 5px 5px white;
    animation: rotate2 3s 1s linear infinite, neon 0.1s step-end infinite;
}
@keyframes rotate2 {
    0% {
    }
    100% {
        top: 1000px;
    }
}
.box__window3 {
    position: absolute;
    right: -500px;
    bottom: 0;
    width: 100%;
    height: 5px;
    background: orange;
    box-shadow: 5px 0 5px white;
    animation: rotate3 3s 2s linear infinite, neon 0.1s step-end infinite;
}
@keyframes rotate3 {
    0% {
    }
    100% {
        right: 1000px;
    }
}
.box__window4 {
    position: absolute;
    left: 0;
    bottom: -500px;
    width: 5px;
    height: 100%;
    background: orange;
    box-shadow: 0 5px 5px white;
    animation: rotate4 3s 3s linear infinite, neon 0.1s step-end infinite;
}
@keyframes rotate4 {
    0% {
    }
    100% {
        bottom: 1000px;
    }
}
@keyframes neon {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
} */
.menu__right {
    max-width: 500px;
    position: relative;
    z-index: 3;
}
.Theme {
    width: 350px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    /* border: 1px solid #ff0000; */
}
.language, .More-about-me, .my__email, .my__services {
    color: white;
    font-weight: 900;
    font-size: 34px;
    z-index: 2;
}
.grade {
    display: flex;
    gap: 3px;
}
.star__img1, .star__img2, .star__img3, .star__img4, .star__img5 {
    width: 50px;
}
/* .star__img1:hover, .star__img2:hover, .star__img3:hover, .star__img4:hover, .star__img5:hover {
    transform: scale(1.2);
} */
.menu {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #000;
    cursor: pointer;
    position: absolute;
    top: 20px;
    background: #000;
    transform: scale(0);
    transition: 1s;
    z-index: 90;
}
.menu.new {
    transform: scale(100);
}
.header__menu-text {
    color: wheat;
    display: none;
}
.header__title {
    color: white;
    font-weight: 900;
    font-size: 24px;
    font-family: Arial;
    background: linear-gradient(to bottom right, #fafab1, black);
    border: 3px solid #a8a870;
   /*  border-color: #7a6403; */
    padding: 5px;
    border-radius: 5px;
    -webkit-text-stroke: 2px black;
}
.header__user {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}
.user__img {
    width: 50px;
    border-radius: 50%;
}
.user__name {
    color: white;
    font-weight: 700;
    font-size: 18px;
}
.main {
    width: 100%;
    position: relative;
    /* background-image: url(./img/1643269638_7-abrakadabra-fun-p-kirpichnaya-stena-nochyu-9.jpg); */
    /* background-size: cover;
    background-repeat: no-repeat; */
    /* background: #1f1f1f; */
}
.slider {
    width: 100%;
    height: 100vh;
    display: flex;
    transition: 1s;
}
/* .slide:nth-child(1) {
    background-size: cover;
    background-repeat: no-repeat;
}
.slide:nth-child(2) {
    background-size: cover;
    background-repeat: no-repeat;
}
.slide:nth-child(3) {
    background-size: cover;
    background-repeat: no-repeat;
} */
.slide {
    width: 100%;
    flex:  0 0 100%;
    transition: 1s;
    overflow-x: hidden;
}
.slide__body {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    /* border: 1px solid #ff0000; */
    /* height: 80%; */
    height: 90%;
    position: relative;
    transition: 1s;
    justify-content: space-around;
    align-items: center;
    /* overflow-x: hidden; */
}
.footer {
    position: absolute;
    display: none;
}
.slide:nth-child(2) .slide__body {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
   /*  margin: 0 auto; */
    /* gap: 100px; */
}
.progect {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    /* margin: 50px; */
    cursor: pointer;
}
.progect:last-child {
}
.progect:nth-child(7) {
    width: 150px;
    height: 150px;
    /* background: #c0c0c0; */
    /* background-image: url(./img/61099.png); */
    /* border: 1px solid #ffffff; */
    border: 3px solid #000;
    opacity: 0.85;
    border-radius: 50%;
    background: rgb(255, 249, 249);
    transition: 0.5s;
}
.progect:nth-last-child(1):hover {
    transform: scale(1.1);
}
.progect__img1, .progect__img2, .progect__img3, .progect__img4, .progect__img5, .progect__img6 {
    width: 150px;
    transition: 0.5s;
}
.progect__img1:hover, .progect__img2:hover, .progect__img3:hover, .progect__img4:hover, .progect__img5:hover, /* .progect__img6:hover, */ .progect__svg:hover, .progect:nth-child(7):hover {
    transform: scale(1.1);
}
.progect__img1, .progect__img3 {
    border: 3px solid #000;
    border-radius: 50%;
}
.progect__img2 {
    padding: 3px;
    background: #d19898;
    border: 3px solid #000;
    border-radius: 50%;
}
.progect__img6 {
    width: 150px;
    /* border: 1px solid #000; */
}
.progect__svg {
    width: 150px;
    height: 150px;
    transition: 0.5s;
    /* border: 1px solid #ffffff; */
}
.progect__text {
    color: white;
    font-weight: 900;
    font-size: 18px;
}
/* .__body {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
} */
.img {
    width: 350px;
    border-radius: 20px;
}
.texts {
    width: 700px;
    /* margin-bottom: 80px; */
}
.button-Oleg {
    display: flex;
    /* justify-content: space-around; */
    gap: 20px;
    align-items: center;
}
.GitHub {
    padding: 10px;
    border-radius: 5px;
    background: linear-gradient(#ffce5b, #ffff00);
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: 900;
    margin-top: 10px;
    font-family: Arial;
    border: 4px solid #000;
    border-color: #9f830a;
    /* -webkit-text-stroke: 0.3px white; */
}
.download-summary {
    padding: 10px;
    border-radius: 5px;
    border: 4px solid #000;
    background: linear-gradient(#ff7300, orange);
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: 900;
    margin-top: 10px;
    font-family: Arial;
    /* -webkit-text-stroke: 0.3px white; */
    border-color: #6b3509;
}
.GitHub:hover {
    box-shadow: 0 0 30px #ffff00;
    transform: scale(1.1);
}
.download-summary:hover {
    box-shadow: 0 0 30px orange;
    transform: scale(1.1);
}
.text1 {
    color: rgb(0, 0, 0);
    font-size: 40px;
    font-weight: 900;
    font-family: Arial;
    -webkit-text-stroke: 1px #ffffff;
    text-align: center;
}
.text2 {
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-family: Arial;
    -webkit-text-stroke: 1px rgb(0, 0, 0);
    font-weight: 900;
}
.leaf1 {
   /*  transform: rotate(100deg);  */
    position: absolute;
    width: 90px;
    left: 15px;
    top: 20px;
    transform: rotate(100deg);
}
.leaf2 {
    /* transform: rotate(-100deg); */
    position: absolute;
    width: 80px;
    bottom: 50px;
    left: 350px;
    transform: rotate(-100deg);
}
.leaf3 {
    position: absolute;
    width: 70px;
    top: 0;
    right: 450px;
}
.leaf4 {
    position: absolute;
    width: 60px;
    right: 15px;
    /* right: -50px; */
    bottom: 60px;
}
.leaf5 {
    /* transform: rotate(150deg); */
    position: absolute;
    width: 60px;
    right: 250px;
    z-index: -1;
    transform: rotate(120deg);
}
.leaf6 {
    position: absolute;
    width: 60px;
    left: 15px;
    bottom: 25px;
    z-index: -1;
}
.leaf7 {
    position: absolute;
    width: 70px;
    top: 150px;
    left: 600px;
    z-index: -1;
    transform: rotate(90deg);
}
.leaf8 {
    position: absolute;
    width: 80px;
    top: 100px;
    /* right: 20px; */
    right: 0;
    /* border: 3px solid #ff0000; */
    /* display: none; */
}
.leaf9 {
    position: absolute;
    width: 75px;
    right: 400px;
    bottom: 150px;
    z-index: -1;
}
.leaf10 {
    position: absolute;
    width: 50px;
    bottom: 0;
    z-index: -1;
    top: 150px;
    left: 370px;
}
.paralax:nth-child(1), .paralax:nth-child(2) {
    transition: 0.2s;
}
.paralax:nth-child(3), .paralax:nth-child(4) {
    transition: 0.1s;
}
.paralax:nth-child(5) {
    transition: 0.3s;
}
.slide:last-child .slide__body {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    overflow: scroll;
    gap: 50px;
    /* justify-content: space-around; */
}
/* .slide__body:last-child {
    
} */
/* .slide:nth-child(3) .slide__body */
.task {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 100px;
    border-radius: 20px;
    background: #34331a;
    color: rgb(0, 0, 0);
    font-weight: 700;
    padding: 10px;
    /* margin-right: 30px; */
    font-size: 20px;
    margin: 50px auto;
    font-family: Arial;
    background: #c5a61bd0;
    border: 2px solid #ffffff;
}
.task:hover {
    background: #e4bb05;
    cursor: pointer;
}
/* Цвет полосы прокрутки */
::-webkit-scrollbar {
    width: 8px; /* Ширина полосы прокрутки */
}

/* Фоновый цвет трека (фона полосы прокрутки) */
::-webkit-scrollbar-track {
    background-color: transparent;
}

/* Цвет и стиль ползунка (перемещаемой части полосы прокрутки) */
::-webkit-scrollbar-thumb {
    background-color: #e4bb05; /* Цвет ползунка */
    border-radius: 6px; /* Скругление углов ползунка */
}

/* Стиль ползунка при наведении */
::-webkit-scrollbar-thumb:hover {
    background-color: #9f830a; /* Новый цвет ползунка при наведении */
}
.black {
    position: absolute;
    z-index: -1;
    /* opacity: 0; */
    background: #000;
    width: 2000px;
    height: 1000px;
    top: -100px;
    opacity: 0;
    transition: opacity 0.5s ease;
}
.fade-in {
    opacity: 1 /* !important */;
    z-index: 900;
}
.user__window {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 1200px;
    height: 500px;
    position: absolute;
    border: 4px solid #ff0000;
    top: 150px;
    left: 120px;
    transform: scale(0);
    transition: 0.5s;
    gap: 50px;
    background-color: #3b2a2a;
}
.user__window.new {
    transform: scale(1);
    z-index: 200;
}
.foto {
    color: rgb(212, 84, 84);
    font-size: 20px;
}
.names {
    color: rgb(20, 114, 15);
    font-size: 20px;
}
.imageOleg {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.texts__buttonOleg {
    display: none;
}
/* Стилі для великих екранів (дисплей максимум 1199рх) */
@media (max-width: 1199px) {
    .slide:nth-child(1) .slide__body {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        gap: 30px;
        padding-bottom: 350px;
    }
    .header {
        padding-left: 50px;
        padding-right: 50px;
    }
    .button-Oleg {
        align-items: center;
        justify-content: center;
        display: flex;
    }
    .leaf3 {
        display: none;
    }
    .menu__box {
        display: flex;
        justify-content: center;
        gap: 50px;
        flex-wrap: wrap;
        width: 100%;
    }
    .slide:nth-child(2) .slide__body {
        justify-content: center;
        gap: 20px;
        padding-left: 20px;
        padding-right: 20px;
        /* flex-wrap: wrap; */
    }
    .header__title {
        text-align: center;
    }
}

/* Стилі для середніх екранів (дисплей максимум 991рх) */
    @media (max-width: 991px) {
        /* .menu__box {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
        } */
    }

/* Стилі для малих екранів (дисплей максимум 767рх) */
    @media (max-width: 767px) {
        .slide:nth-child(2) .slide__body {
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: space-around;
            padding-bottom: 500px;
        }
        .slide:nth-child(1) .slide__body {
            padding: 0;
        }
        .imageOleg {
            gap: 50px;
        }
        .Theme {
            align-items: center;
        }
        .menu__box {
            overflow: scroll;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 0px;
            /* border: 1px solid #f40000; */
            left: 0;
        }
        .header__menu {
            z-index: 10000000000;
        }
        .texts__buttonOleg {
            display: block;
            font-size: 28px;
            z-index: 1;
            padding: 5px;
            width: 200px;
            border-radius: 3px;
            border: 4px solid #000;
            background: linear-gradient(#ff7300, orange);
            color: rgb(0, 0, 0);
            font-weight: 900;
            font-family: Arial;
            border-color: #6b3509;
        }
        .texts__buttonOleg:hover {
            box-shadow: 0 0 30px orange;
            transform: scale(1.1);
        }
        .paralax {
            display: none;
        }
        .texts {
            display: none;
        }
    }

/* Стилі для дуже малих екранів (дисплей максимум 575рх) */
    @media (max-width: 575px) {
        /* .header {
            padding-left: 20px;
            padding-right: 20px;
        } */
        .window {
            width: 320px;
            object-fit: cover;
            /* height: 100%; */
        }
    }

    @media (max-width: 520px) {
        .header__title {
            display: none;
        }
    }